:root {
  font-family: "New Computer Modern", "Yu Mincho", "Noto Serif JP", serif;
  font-size: 14pt;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  text-autospace: normal;
  overflow-wrap: anywhere;
  word-break: normal;
  line-break: strict;
}

@media screen and (width >= 800px) {
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 3em;
    font-size: 14pt;
    line-height: 1.5;
  }
}

@media screen and (width < 800px) {
  .container {
    box-sizing: border-box;
    width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 1em;
    font-size: 12pt;
    line-height: 2;
  }

  .display, figure {
    overflow-y: auto;
  }
}

/* 太字 */

h1, h2, h3, h4, .strong {
  font-family: "Arial", "Yu Gothic", "Noto Sans JP", sans-serif;
}

.strong {
  text-decoration: .2pt dashed underline;
  text-underline-offset: 2pt;
}

/* 著者欄 */

.author {
  text-align: right;
  margin-top: -0.5em;
  margin-bottom: 1em;
}

/* 図式 */

figure {
  display: block;
  overflow-x: auto;
  text-align: center;
}

/* ツリー */

.tree, .tree * {
  overflow: visible;
}

.tree ul {
  list-style: none;
  padding-left: 0;
}

.tree ul li ul {
  margin-top: .5em;
  margin-bottom: .75em;
  margin-left: 48px;
}

.tree ul li ul li {
  margin-bottom: .25em;
  position: relative;
}

.tree ul li ul li::before {
  content: "";
  position: absolute;
  top: -0.5em;
  left: -16px;
  width: 10px;
  height: calc(100% + .75em);
  border-left: 1px solid currentColor;
}

.tree ul li ul li:last-child::before {
  height: calc(1em + .25em);
}

.tree ul li ul li::after {
  content: "";
  position: absolute;
  top: .75em;
  left: -16px;
  width: 10px;
  border-bottom: 1px solid currentColor;
}

/* 数式 */
use {
  fill: currentColor;
}

/* インデント */

p {
  text-indent: 1em;
}

.no-indent p {
  text-indent: 0;
}
